@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

/* Nav-bar */

a {
    color: black;
    text-decoration: none;
}

.nav-top {
    width: 100%;
}

.behance {
    font-weight: bold;
    font-size: 1.2rem;
}

.noHover {
    pointer-events: none !important;
  }

.black-hover:hover {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    height: 2rem;
}
.search {
    height: 2rem;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.search { text-align: left; }
.search:focus { text-align: center;}

.btn-login,
.btn-sign-up {
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.nav-right {
    padding-right: 1rem;
}

.btn-sign-up {
    margin-right: 2rem;
    margin-left: 0.4rem;
    width: 6rem;
}

.vision-logo {
    padding-right: 0.5rem;
    height: 1.4rem;
}

.vision-text {
    font-size: 0.8rem;
    font-weight: bold;
}

/* Main */

main::before {
    content: '';
    position: fixed;
    top: 5;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 
115deg
, rgba(173, 169, 150, 0.8), rgba(242, 242, 242, 0.7) ), url(./img/library-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}


.library-logo {
    width: 40rem;
    height: 25rem;
    margin-left: 5rem;
    filter: blur(3.9px) contrast(0.7) saturate(1) brightness(1);
}

.logo-title {
    background: url('https://i.imgur.com/OUyfQnt.jpg');
    background-size: cover;
    position: relative;
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Rancho', cursive;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    }
  

  .logo-title:after {
    content: 'Welcome to Vision when in doubt come to us!';
    position: absolute;
    -webkit-text-stroke-width: 55px;
    -webkit-text-stroke-color: rgba(black, 0.8);
    left: 2px;
    top: 2px
  }

 
  



