@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Nav-bar */

a {
  color: black;
  text-decoration: none;
}

.top-nav-icon {
  width: 1.3rem;
}

.fb-icon {
  color: white;
  height: 2rem;
}

.nav-top,
.nav-bottom {
  width: 100%;
  height: 3.3rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.behance,
.vision-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.noHover {
  pointer-events: none !important;
}

.black-hover:hover {
  text-decoration: none;
  color: black;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search {
  height: 2rem;
  width: 9rem;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  text-align: left;
}

.search:focus {
  text-align: center;
}

.btn-subscribe {
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
#about, #events {
  color: red !important;
}

.vision-logo {
  padding-right: 0.5rem;
  height: 2rem;
}

/* Main */

main {
  margin-top: 1rem;
}

.logo-title {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.vision {
  color: blue !important;
}

.logo-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3%;
  padding-top: 15px;
  border-bottom: 1px solid red;
}

.article,
.summit-container {
  letter-spacing: 1px;
  line-height: 1.5rem;
  background-color: white;
}

.email-p {
  font-weight: bold;
}

.email {
  font-size: 20px;
}

.email:hover {
  font-size: 30px;
  color: rgb(233, 27, 27, 0.6);
  font-family: "Permanent Marker", cursive;
}

/* Logo Section */

.logo-title-1 {
  color: black;
  font-family: "Akaya Telivigala", cursive;
}

.logo-p {
  width: 50%;
  margin: 0 auto;
}

.logo-title-1::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 15px;
  border-bottom: 1px solid red;
}

.places {
  display: flex;
  justify-content: center;
  height: 20rem;
}

.buenos,
.warsaw {
  background-image:
    linear-gradient(115deg, rgba(161, 125, 125, 0.8), rgba(170, 30, 30, 0.7)),
    url(/img/people-buenos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20rem;
  color: white;
  text-align: center;
}

.warsaw {
  background-image:
    linear-gradient(115deg, rgba(161, 125, 125, 0.8), rgba(170, 30, 30, 0.7)),
    url(/img/people-warsaw.jpeg);
}  

.date {
  font-size: 2rem;
}

/* Footer */

.footer {
  background-color: rgb(19, 19, 19);
  height: 15rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons {
  width: 4rem;
}

.nav-b {
  color: white;
  font-size: 1.2rem;
}

.follow-p {
  color: white;
  font-size: 1rem;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.follow-p:hover {
  font-size: 1.4rem;
  font-family: "Permanent Marker", cursive;
}

/* Media-Query Mobile */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .nav-bottom {
    height: 10rem;
  }

  .adress-bar,
  .working-hours,
  .search {
    width: 100%;
  }

  .nav-right {
    text-align: center;
  }

  main {
    margin-top: 10rem;
  }

  .logo-title {
    font-size: 40px;
  }

  .follow-p {
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
  }

  .nav-icons {
    width: 2.2rem;
  }
}

/* Tablet-mode media query */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    padding-bottom: 2rem;
  }
  
  .nav-bottom {
    height: 5rem;
    display: flex;
    flex-direction: row;
  }

  .nav-left,
  .nav-right,
  .has-search,
  .search {
    width: 100%;
  }

  main {
    width: 100%;
    margin-top: 5rem;
  }

  .library-title {
    width: 100%;
  }

  .follow-p {
    color: white;
    font-size: 1.2rem;
  }
}

/* Media query laptop */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  header {
    padding-bottom: 2rem;
  }
  
  .nav-bottom {
    height: 5rem;
    display: flex;
    flex-direction: row;
  }

  .nav-left,
  .nav-right,
  .search {
    width: 100%;
  }

  .nav-right {
    margin-left: 13rem;
  }

  main {
    width: 100%;
    
  }
}

/* Media query laptop */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  header {
    padding-bottom: 2rem;
  }
  
  .nav-bottom {
    height: 5rem;
    display: flex;
    flex-direction: row;
  }

  .nav-left,
  .nav-right,
  .search {
    width: 100%;
  }

  .nav-right {
    margin-left: 13rem;
  }

  main {
    width: 100%;
    margin-top: 5rem;
  }
}
