@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Nav-bar */

a {
  color: black;
  text-decoration: none;
}

.top-nav-icon {
  width: 1.3rem;
}

.fb-icon {
  color: white;
  height: 2rem;
}

.nav-top,
.nav-bottom {
  width: 100%;
  height: 3.3rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.behance {
  font-weight: bold;
  font-size: 1.2rem;
}

.noHover {
  pointer-events: none !important;
}

.black-hover:hover {
  text-decoration: none;
  color: black;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search {
  height: 2rem;
  width: 9rem;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  text-align: left;
}

.search:focus {
  text-align: center;
}

.btn-subscribe {
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
#about, 
#events {
  color: red !important;
}

.vision-logo {
  padding-right: 0.5rem;
  height: 2rem;
}

.vision-text {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Main */

main {
  margin-top: 2.2rem; 
}

/* Section-1 */

.section-1 {
  background: center center / cover no-repeat;
  background-image: url(/img/gray-bg.webp);
  border-radius: 5px;
  color: white;
}

.main-title,
.ticket-option,
.article {
  color: black;
  font-family: "Akaya Telivigala", cursive;
}

.ticket-option {
  font-size: 1.2rem;
  color: darkblue;
  width: 50%;
  height: 2.3rem;
}

.main-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 15px;
  border-bottom: 1px solid red;
}

.ticket-p::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-top: 0.25em;
}

.step-1 {
  color: red;
}

.article {
  width: 50%;
  color: darkblue;
  font-size: 1.1rem;
}

.about {
  color: red;
}

.about:hover {
  color: red;
  font-size: 2rem;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 0.2s;
}

.table {
  border-style: dashed double none;
  border-color: blue;
  margin-top: 20px;
}

table > thead > tr > th {
  border: 2px solid blue;
}

table > tbody > tr > td {
  border: 2px solid blue;
}

.date {
  color: chocolate;
  font-weight: bold;
}

/* Section-2 */

.section-2 {
  background-color: rgb(241, 224, 224);
}

.menu-title {
  font-family: "Permanent Marker", cursive;
}

#table-1,
#table-2 {
  border: 1px solid black;
}

#table-1 > thead > tr > th {
  border: 1px solid black;
}

#table-1 > tbody > tr > td {
  border: 1px solid black;
}

.table-tr {
  background: linear-gradient(rgba(173, 169, 150, 0.8), rgba(242, 242, 242, 0.7));
  height: 2.5rem;
}

#table-2 > thead > tr > th {
  border: 1px solid black;
}

#table-2 > tbody > tr > td {
  border: 1px solid black;
}

.btn-checkout {
  width: 15rem;
}

/* Footer */

.footer {
  background-color: rgb(19, 19, 19);
  height: 15rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons {
  width: 4rem;
}

.nav-b {
  color: white;
  font-size: 1.2rem;
}

.follow-p {
  color: white;
  font-size: 1rem;
  transition-property: font-size;
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.follow-p:hover {
  font-size: 1.4rem;
  font-family: "Permanent Marker", cursive;
}

/* Media-Query Mobile */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .nav-bottom {
    height: 10rem;
  }

  .adress-bar,
  .working-hours,
  .search {
    width: 100%;
  }

  .nav-right {
    text-align: center;
  }

  main {
    margin-top: 10rem;
  }

  .ticket-option {
    width: 100%;
    height: 4rem;
  }

  .article {
    width: 100%;
  }

  .date,
  .ticket {
    font-size: 0.6rem;
  }

  .form-check-label {
    font-size: 0.8rem;
  }

  .follow-p {
    color: black;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
  }

  .nav-icons {
    width: 2.2rem;
  }
}

/* Tablet-mode media query */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    padding-bottom: 2rem;
  }
  
  .nav-bottom {
    height: 5rem;
    display: flex;
    flex-direction: row;
  }

  .nav-left,
  .nav-right,
  .has-search,
  .search {
    width: 100%;
  }

  main {
    width: 100%;
    margin-top: 10rem;
  }

  .follow-p {
    color: white;
    font-size: 1.2rem;
  }
}

/* Media query laptop */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  header {
    padding-bottom: 2rem;
  }
  
  .nav-bottom {
    height: 5rem;
    display: flex;
    flex-direction: row;
  }

  .nav-left,
  .nav-right,
  .search {
    width: 100%;
  }

  .nav-right {
    margin-left: 13rem;
  }

  main {
    width: 100%;
    margin-top: 10rem;
  }
}
